<div class=" sidebar_main_open sidebar_main_swipe">
  <!-- main header -->
  <%= render 'main/partials/header' %>
  <!-- main header end -->

  <!-- main sidebar -->
  <%= render 'main/partials/sidebar' %>
  <!-- main sidebar end -->

  <div id="page_content">
    <div id="page_content_inner">
      <h2 class="heading_b uk-margin-bottom">Create Application Form
      </h2>

      <div class="md-card">
        <div class="md-card-content">
          <%= form_for @application, class: 'uk-form-stacked' do |item| %>
              <%= item.text_field :name, class: 'md-input' %>
              <%= item.text_field :description, class: 'md-input' %>
              <%= item.text_field :url, class: 'md-input' %>
              <%= item.submit 'Save Application', class: 'md-btn md-btn-primary pull-right', style: 'margin-top: 15px;' %>
          <% end %>

          <div id="wizard_advanced" data-uk-observe="" role="application" class="wizard clearfix">
            <div class="content clearfix">

              <!-- first section -->
              <h3 id="wizard_advanced-h-0" tabindex="-1" class="title current">Owner information</h3>
              <section id="wizard_advanced-p-0" role="tabpanel" aria-labelledby="wizard_advanced-h-0" class="body step-0 current" data-step="0" aria-hidden="false">
                <!--<h2 class="heading_a">-->
                <!--Create Application Form-->
                <!--<span class="sub-heading"></span>-->
                <!--</h2>-->
                <!--<hr class="md-hr">-->
                <div class="uk-grid">
                  <div class="uk-width-medium-1-1 parsley-row">
                    <div class="md-input-wrapper">
                      <label>Application Name<span class="req">*</span></label>
                      <span class="md-input-bar"></span>
                    </div>
                  </div>
                </div>
                <div class="uk-grid">
                  <div class="uk-width-medium-1-1 parsley-row">
                    <div class="md-input-wrapper">
                      <label>Description<span class="req">*</span></label>
                      <span class="md-input-bar"></span>
                    </div>
                  </div>
                </div>
                <div class="uk-grid">
                  <div class="uk-width-medium-1-1 parsley-row">
                    <div class="md-input-wrapper"><label>Uniform Resource Locator
                      (URL)<span class="req">*</span></label>
                      <span class="md-input-bar"></span>
                    </div>
                  </div>
                </div>
              </section>

              <!-- second section -->
              <h3 id="wizard_advanced-h-1" tabindex="-1" class="title">Vehicle information</h3>
              <section id="wizard_advanced-p-1" role="tabpanel" aria-labelledby="wizard_advanced-h-1" class="body step-1" data-step="1" aria-hidden="true" style="display: none;">
                <h2 class="heading_a">
                  Vehicle information
                  <span class="sub-heading">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                </h2>
                <hr class="md-hr">
                <div class="uk-grid uk-grid-width-large-1-2 uk-grid-width-xlarge-1-4" data-uk-grid-margin="">
                  <div class="parsley-row">
                    <div class="md-input-wrapper"><label for="wizard_vehicle_title_number">Title
                      Number<span class="req">*</span></label><input type="text" name="wizard_vehicle_title_number" id="wizard_vehicle_title_number" required="" class="md-input" data-parsley-id="27"><span class="md-input-bar"></span>
                    </div>
                  </div>
                  <div class="parsley-row">
                    <div class="md-input-wrapper">
                      <label for="wizard_vehicle_vin">VIN<span class="req">*</span></label><input type="text" name="wizard_vehicle_vin" id="wizard_vehicle_vin" required="" class="md-input" data-parsley-id="29"><span class="md-input-bar"></span>
                    </div>

                  </div>
                  <div class="parsley-row">
                    <div class="md-input-wrapper"><label for="wizard_vehicle_plate_number">Current Plate
                      Number<span class="req">*</span></label><input type="text" name="wizard_vehicle_plate_number" id="wizard_vehicle_plate_number" required="" class="md-input" data-parsley-id="31"><span class="md-input-bar"></span>
                    </div>
                  </div>
                  <div class="parsley-row">
                    <div class="md-input-wrapper"><label for="wizard_vehicle_expiration">Expiration
                      Date<span class="req">*</span></label><input type="text" name="wizard_vehicle_expiration" id="wizard_vehicle_expiration" required="" class="md-input" data-parsley-americandate="" data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" data-parsley-id="33"><span class="md-input-bar"></span>
                    </div>
                  </div>
                </div>
                <div class="uk-grid uk-grid-width-large-1-3 uk-grid-width-xlarge-1-6" data-uk-grid-margin="">
                  <div class="parsley-row">
                    <div class="md-input-wrapper"><label for="wizard_vehicle_year">Registration
                      Year</label><input type="text" name="wizard_vehicle_year" id="wizard_vehicle_year" class="md-input" data-uk-datepicker="{format:'MM.YYYY'}" data-parsley-id="35"><span class="md-input-bar"></span>
                    </div>

                  </div>
                  <div class="parsley-row">
                    <div class="md-input-wrapper">
                      <label for="wizard_vehicle_make">Make</label><input type="text" name="wizard_vehicle_make" id="wizard_vehicle_make" class="md-input" data-parsley-id="37"><span class="md-input-bar"></span>
                    </div>

                  </div>
                  <div class="parsley-row">
                    <div class="md-input-wrapper">
                      <label for="wizard_vehicle_model">Model<span class="req">*</span></label><input type="text" name="wizard_vehicle_model" id="wizard_vehicle_model" required="" class="md-input" data-parsley-id="39"><span class="md-input-bar"></span>
                    </div>

                  </div>
                  <div class="parsley-row">
                    <div class="md-input-wrapper"><label for="wizard_vehicle_body">Body
                      Type<span class="req">*</span></label><input type="text" name="wizard_vehicle_body" id="wizard_vehicle_body" required="" class="md-input" data-parsley-id="41"><span class="md-input-bar"></span>
                    </div>

                  </div>
                  <div class="parsley-row">
                    <div class="md-input-wrapper">
                      <label for="wizard_vehicle_axles">Axles</label><input type="text" name="wizard_vehicle_axles" id="wizard_vehicle_axles" class="md-input" data-parsley-id="43"><span class="md-input-bar"></span>
                    </div>

                  </div>
                  <div class="parsley-row">
                    <div class="md-input-wrapper">
                      <label for="wizard_vehicle_fuel">Fuel<span class="req">*</span></label><input type="text" name="wizard_vehicle_fuel" id="wizard_vehicle_fuel" required="" class="md-input" data-parsley-id="45"><span class="md-input-bar"></span>
                    </div>

                  </div>
                </div>
              </section>
              <!-- third section -->
              <h3 id="wizard_advanced-h-2" tabindex="-1" class="title">Additional information</h3>
              <section id="wizard_advanced-p-2" role="tabpanel" aria-labelledby="wizard_advanced-h-2" class="body step-2" data-step="2" aria-hidden="true" style="display: none;">
                <h2 class="heading_a">
                  Additional information
                  <span class="sub-heading">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                </h2>
                <hr class="md-hr">
                <div class="uk-grid uk-margin-large-bottom" data-uk-grid-margin="">
                  <div class="uk-width-1-1">
                    <label class="uk-form-label">Location Where Vehicle is Principally Garaged</label>
                    <div class="uk-grid" data-uk-grid-margin="">
                      <div class="uk-width-medium-2-10 parsley-row">
                                                <span class="icheck-inline uk-margin-top uk-margin-left">
                                                    <div class="iradio_md"><input type="radio" name="wizard_additional_location" id="wizard_status_location_city" class="wizard-icheck" value="City" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;" data-parsley-multiple="wizard_additional_location" data-parsley-id="48"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                                    <label for="wizard_status_location_city" class="inline-label">City</label>
                                                </span>
                      </div>
                      <div class="uk-width-medium-2-10 parsley-row">
                                                <span class="icheck-inline uk-margin-top uk-margin-left">
                                                    <div class="iradio_md"><input type="radio" name="wizard_additional_location" id="wizard_status_location_county" class="wizard-icheck" value="County" data-parsley-multiple="wizard_additional_location" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                                    <label for="wizard_status_location_county" class="inline-label">County</label>
                                                </span>
                      </div>
                      <div class="uk-width-medium-3-10 parsley-row">
                        <div class="uk-input-group">
                                                    <span class="uk-input-group-addon">
                                                       <div class="iradio_md"><input type="radio" name="wizard_additional_location" class="wizard-icheck" value="town" data-parsley-multiple="wizard_additional_location" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                                    </span>
                          <div class="md-input-wrapper"><label for="wizard_location_town">Town
                            of</label><input type="text" class="md-input" name="wizard_location_town" id="wizard_location_town" data-parsley-id="54"><span class="md-input-bar"></span>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <span class="uk-alert uk-alert-info">If you would like your registration renewals sent to an address other than your residence/business address, enter it below.</span>
                <div class="uk-grid" data-uk-grid-margin="">
                  <div class="uk-width-medium-2-6 parsley-row">
                    <div class="md-input-wrapper">
                      <label for="wizard_vehicle_registration_address">Registration Mailing
                        Address</label><input type="text" name="wizard_vehicle_registration_address" id="wizard_vehicle_registration_address" required="" class="md-input" data-parsley-id="56"><span class="md-input-bar"></span>
                    </div>

                  </div>
                  <div class="uk-width-medium-1-6 parsley-row">
                    <div class="md-input-wrapper">
                      <label for="wizard_vehicle_registration_city">City<span class="req">*</span></label><input type="text" name="wizard_vehicle_registration_city" id="wizard_vehicle_registration_city" required="" class="md-input" data-parsley-id="58"><span class="md-input-bar"></span>
                    </div>

                  </div>
                  <div class="uk-width-medium-1-6 parsley-row">
                    <div class="md-input-wrapper">
                      <label for="wizard_vehicle_registration_state">State<span class="req">*</span></label><input type="text" name="wizard_vehicle_registration_state" id="wizard_vehicle_registration_state" required="" class="md-input" data-parsley-id="60"><span class="md-input-bar"></span>
                    </div>

                  </div>
                  <div class="uk-width-medium-1-6 parsley-row">
                    <div class="md-input-wrapper">
                      <label for="wizard_vehicle_registration_zip">ZIP<span class="req">*</span></label><input type="text" name="wizard_vehicle_registration_zip" id="wizard_vehicle_registration_zip" required="" class="md-input" data-parsley-id="62"><span class="md-input-bar"></span>
                    </div>

                  </div>
                  <div class="uk-width-medium-1-6 parsley-row">
                    <div class="md-input-wrapper">
                      <label for="wizard_vehicle_registration_code">Code<span class="req">*</span></label><input type="text" name="wizard_vehicle_registration_code" id="wizard_vehicle_registration_code" required="" class="md-input" data-parsley-id="64"><span class="md-input-bar"></span>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>