<div class="login_page">
  <div class="login_page_wrapper">
    <div class="md-card" id="login_card">
      <div class="md-card-content large-padding" id="login_password_reset">
        <h2 class="heading_a uk-margin-large-bottom">Reset password</h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
            <%= devise_error_messages! %>
            <form>
              <div class="uk-form-row">
                <label for="login_email_reset">Your email address</label>
                <%= f.email_field :email, class: 'md-input', autofocus: true %>
              </div>
              <div class="uk-margin-medium-top">
                <%= f.submit 'Reset password', class: 'md-btn md-btn-primary md-btn-block' %>
              </div>
            </form>
        <% end %>
      </div>
    </div>
    <div class="uk-margin-top uk-text-center">
      <%= link_to 'Already a member?', new_user_session_path %>
    </div>
  </div>
</div>
